<div class="container-fluid">
  <h1 class="font-family">Enrollment Form</h1>

  <hr />

  <form #userForm="ngForm" (ngSubmit)="onSubmit(userForm)">
  
    {{ userForm.value | json }}

    <hr />

    {{ userModel | json }}


    <hr />


    <div class="form-group">
      <label>Name</label>
      <input type="text" required #name="ngModel" 
        [class.is-inv]="name.invalid && name.touched" class="form-control" placeholder="Write your name" name="userName" 
        [(ngModel)]="userModel.name">

      <small class="text-danger" [class.d-none]="name.valid || name.untouched">Name is required</small>
    </div>

    <div class="form-group">
      <label>Email</label>
      <input type="email" placeholder="Write your email id" required #email="ngModel" [class.is-inv]="email.invalid && email.touched" class="form-control" name="email" [(ngModel)]="userModel.email">
    </div>

    <div class="form-group">
      <label>Phone Number</label>
      <input type="tel" #phone="ngModel" required pattern="^\d{10}$" [class.is-inv]="phone.invalid && phone.touched" class="form-control" name="phone" [(ngModel)]="userModel.phone">

      <div *ngIf="phone.errors && (phone.invalid || phone.untouched)">
        <small class="text-danger" *ngIf="phone.errors.required && phone.touched">Phone number is required!</small>
        <small class="text-danger" *ngIf="phone.errors.pattern">Phone must be of 10 digts!</small>
      </div>

    </div>

    <br>

    <div class="form-group">
      <select (blur)="validateTopic(topic.value)" (change)="validateTopic(topic.value)"
      #topic="ngModel" [class.is-inv]="topicHasError && topic.touched" class="custom-select" 
      name="topic" [(ngModel)]="userModel.topic">

        <option value="default">I'm interested in:</option>
        <option *ngFor="let topic of topics">{{ topic }}</option>

      </select>
      <div>
        <small class="text-danger" [class.d-none]="!topicHasError || topic.untouched">Please select a Topic!</small>
      </div>
    </div>

    <br>

    <div class="mb-3">

      <label>Time Preference</label>

      <div class="form-check">
        <input type="radio" name="timePreference" value="morning" class="form-check-input" [(ngModel)]="userModel.timePreference">
        <label class="form-check-label">Morning ( 9am - 12pm )</label>
      </div>

      <div class="form-check">
        <input type="radio" name="timePreference" value="evening" class="form-check-input" [(ngModel)]="userModel.timePreference">
        <label class="form-check-label">Evening ( 5pm - 8pm )</label>
      </div>

    </div>

    <br>

    <div class="form-check mb-3">
      <input type="checkbox" class="form-check-input" name="subscribe" [(ngModel)]="userModel.subscribe">
      <label class="form-check-label">Send me promotional offers</label>
    </div>

    <br>

    <button [disabled]="userForm.form.invalid || topicHasError" 

      type="submit" class="btn btn-primary">Submit Form</button>

      <hr />
      <hr />

  </form>

    <div class="container">
      <ul *ngFor="let user of arraydata" style="list-style-type:none;">
        <li>{{ user.name }}</li>
        <li>{{ user.phone }}</li>
        <li>{{ user.email }}</li>
        <li>{{ user.timePreference }}</li>
        <li>{{ user.subscribe }}</li>
        <br />
      </ul>
    </div>

</div>