/* You can add global styles to this file, and also import other style files */
@import 'bootstrap/dist/css/bootstrap.min.css';

.is-inv{
    border-color: red;
    border: 5px transparent #ff0000;
}

.d-none{
    display: none;
}
